* {
  box-sizing: border-box;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0%;
}


header {
  justify-content:space-between;
  display: flex;
  flex-wrap: wrap;
  
}


header div.hss {
  color: crimson;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  padding: 5px;
  border-style: outset;
  border-radius: 15px;
  padding: 5px;
}

header div.timer {
  margin-top: 20px;
  margin-right: 20px;
  background-color: crimson;
  color: white;
  display: none;
  border-radius: 15px;
  padding: 5px;
  border-style: outset;
  border-color: (rgb(118, 118, 118), rgb(133, 133, 133));

}

h1, h2 {
  text-align: center;
  margin: 40px auto;
  color: crimson;
}

.questContain {
  /* max-width: 680px; */
  margin: 5% auto;
  display: none;
}



.answerBtn {
  /* float: left; */
  width: 48%;
  /* height: 40px; */
  margin: auto;
  /* cursor: pointer; */
  /* object-fit: cover; */
  border-radius: 8px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0, 1); */
  transition: 0.3s;
  justify-content: space-around;
  /* display: none; */
}


.answerBtn button {
  margin: 10px;
  justify-content: space-around;
  border-radius: 15px;
  color: white;
  background-color: crimson;
  padding: 5px;
}

#startBtn {
  display: flex;
  /* float: left; */
  width: fit-content;
  height: fit-content;
  margin: 10% auto;
  /* cursor: pointer; */
  /* object-fit: cover; */
  border-radius: 8px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0, 1); */
  transition: 0.3s;
  /* align-content: center; */
  color: white;
  background-color: crimson;

}

#startBtn p {
  margin: auto;
  font-size: xx-large;
}